DATABASE_URL=mysql://username:password@host:port/database_name
AUTH_MICROSOFT_ENTRA_ID_ID=your_client_id
AUTH_MICROSOFT_ENTRA_ID_SECRET=your_client_secret
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=your_tenant_id
AUTH_SECRET=your_auth_secret (generate with npx auth secret)
PROXMOX_API_TOKEN=your_proxmox_api_token (Used for Proxmox RealTime Info only in fortmont Mobile)'
DNS_API_TOKEN=your_dns_api_token (Used for DNS Records in fortmont Mobile and future dashboard features)'
DNS_SERVER_RECORDS_ENDPOINT=https://your_dns_api_endpoint_for_getting_records
DNS_SERVER_RECORDS_POST_ENDPOINT=https://your_dns_api_endpoint_for_adding_records
PROXY_SERVER_HOST=your_proxy_server_host (your reverse proxy server hostm)'
AUTH_URL=your_auth_url (e.g. https://api.fortmont.me/auth)
AUTH_TRUST_HOST=true
NEXTAUTH_URL=your_nextauth_url (e.g. https://api.fortmont.me)
BASE_PATH=/dashboard
MAILBOX_ENCRYPTION_KEY=your_mailbox_encryption_key (generate with openssl rand -base64 64)
IMAP_HOST=your_imap_host (e.g. imap.yourdomain.com)
MICROSOFT_ENTRA_TENANT_ID=your_microsoft_entra_tenant_id_(used for fortmont mobile only)
MICROSOFT_ENTRA_CLIENT_ID=your_microsoft_entra_client_id( used for fortmont mobile only)