
DATABASE_URL=
AUTH_MICROSOFT_ENTRA_ID_ID=
AUTH_MICROSOFT_ENTRA_ID_SECRET=
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=
AUTH_SECRET=
API_KEY=
NEXT_PUBLIC_API_KEY=
PROXMOX_API_TOKEN=
MICROSOFT_ENTRA_TENANT_ID=
MICROSOFT_ENTRA_CLIENT_ID=
DNS_API_TOKEN=
DNS_SERVER_RECORDS_ENDPOINT=
DNS_SERVER_RECORDS_POST_ENDPOINT=
PROXY_API_TOKEN=
PROXY_SERVER_HOST=
AUTH_URL=
AUTH_TRUST_HOST=true
NEXTAUTH_URL=
BASE_PATH=/dashboard
MAILBOX_ENCRYPTION_KEY=
IMAP_HOST=
MAILBOX_API=
MAILCOW_API_TOKEN=
SMTP_HOST=
SSL_CERTS_ENDPOINT=
PROXY_SERVER_HOST_CREATE_ROUTE=
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET=
AZURE_SUBSCRIPTION_ID=
SYSTEM_SMTP_USER=
SYSTEM_SMTP_PASS=
PROXMOX_BASE_URL=
PROXMOX_API_KEY=
